<a href="https://colab.research.google.com/github/Sukhi24397/Pract0/blob/main/Experiment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sukhi N
#25070123112
#Study of set in python

In [1]:
thisset={"apple","banana","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [2]:
thisset={"apple","banana","cherry",}
print(thisset[1])

TypeError: 'set' object is not subscriptable

In [3]:
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{'banana', True, 2, 'apple', 'cherry'}

In [5]:
thisset={"apple","banana","cherry","apple"}
print("banana" in thisset)
print("Grapes" in thisset)

True
False

In [6]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [7]:
thisset={"apple","banana","cherry"}
thisset.add(2)
print(thisset)

{'banana', 'apple', 'cherry', 2}

In [8]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [10]:
# Set Operation
A={1,2,3,4}
B={3,4,5,6}

print("union:", A|B)
print("intersection:", A&B)
print("Difference1:", A-B)
print("Difference2:", B-A)
print("symmetric difference:", A^B)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
symmetric difference: {1, 2, 5, 6}

In [11]:
# Frozenset
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [12]:
studentlist={"a","b","c","d","b","c"}
studentlist=set(studentlist)
y=studentlist
print(y)

{'c', 'a', 'd', 'b'}

In [13]:
x={"Maths","Physics","Chemistry"}
y={"Biology","Physics","Chemistry"}
z= {"Maths","Biology","Chemistry"}
common_subjects=x & y & z
print(common_subjects)

{'Chemistry'}

In [15]:
cricket={"Vishvam","Yogesh","sukhi"}
football={"Vishvam","Glen","Vrishin"}
print("students in one club are", cricket & football)
print("students in one club are",cricket^football)

students in one club are {'Vishvam'}
students in one club are {'Vrishin', 'Glen', 'Yogesh', 'sukhi'}

In [18]:
all_students={"Vishvam","Khushi","Harshita","Kshitij","Niyant","sukhi"}
present_students={"Vishvam","Khushi","sukhi" }

absent_students= all_students-present_students

print("Absent students", absent_students)

Absent students {'Niyant', 'Harshita', 'Kshitij'}

In [19]:
course={"ETC101", "ETC102", "ETC103"}
course.discard("ETC102")
print("Updated Course", course)

Updated Course {'ETC101', 'ETC103'}