<a href="https://colab.research.google.com/github/Sukhi24397/Pract0/blob/main/Experiment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sukhi N
#25070123112
#Exp3: Study of Tupple in Python

In [ ]:
tpl=(2,"Sukhi",True)
print(tpl)

(2, 'Sukhi', True)

In [ ]:
tpl1=("apple","banana","orange")
print(tpl1)

('apple', 'banana', 'orange')

In [ ]:
tpl1=("apple","banana","orange")
tpl1[1]="kiwi"
print(tpl1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl3=(10,)*5
print(tpl3)

(10, 10, 10, 10, 10)

In [ ]:
tpl4=(10)*5
print(tpl4)

50

In [ ]:
list=["symbiosis",]*5
print(list)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [ ]:
tpl4=("apple","banana","orange")
print("before:",id(tpl4))
tpl5=("mango",)
tpl4+=tpl5
print(tpl4)
print("after:",id(tpl4))

before: 139701079742272
('apple', 'banana', 'orange', 'mango')
after: 139701078424480

In [ ]:
tpl4=["apple","banana","orange"]
print("before:",id(tpl4))
tpl5=["mango",]
tpl4+=tpl5
print(tpl4)
print("after:",id(tpl4))

before: 139701080445824
['apple', 'banana', 'orange', 'mango']
after: 139701080445824

In [ ]:
marks=(78,85,90,66,88)
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))
print(sorted(marks))

90
66
407
5
81.4
[66, 78, 85, 88, 90]

In [ ]:
#result analysis
result=("maths",82,"A")

#unpack the tuple
subject,marks,grade=result

subject,marks,grade=result

#display the result details
print("subject:",subject)
print("marks:",marks)
print("grade:",grade)

#check for distinction
if marks>=75:
    print("Distinction")

subject: maths
marks: 82
grade: A
Distinction

In [ ]:
#Monitoring attendance
attendance=["P","A","P","P","A","P"]
print("total present days:",attendance.count("P"))
print("total absent days:",attendance.count("A"))
if "A" in attendance:
    print("employee was absent at least once")

total present days: 4
total absent days: 2
employee was absent at least once