<a href="https://colab.research.google.com/github/Sukhi24397/Pract0/blob/main/Experiment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sukhi N
#25070123112

In [1]:
#1a. Check whether a number is positive, negative, or zero
num=int(input("enter a number"))
if num>0:
 print("positive")
elif num<0:
  print("negative")
else:
 print("zero")\

enter a number40
positive

In [2]:
#2. check whether a number is even or odd
num=int(input("enter a number: "))
if num%2==0:
   print("even")
else:
   print("odd")

enter a number: 24
even

In [3]:
#3. find the largest of two numbers
a= int(input("enter first number:"))
b= int(input("enter second number:"))
c= int(input("enter third number:"))
if a>=b and a>=c:
  print("largest:",a)
elif b>=a and b>=c:
  print("largest:",b)
else:
  print("largest:",c)

enter first number:20
enter second number:24
enter third number:45
largest: 45

In [4]:
#4. get input from user for a subject and calculate grade using if-elif-else
marks=int(input("enter marks:"))
if marks>=90:
  print("grade A")
elif marks>=75:
  print("grade B")
elif marks>=60:
  print("grade C")
elif marks>=40:
  print("grade D")
else:
  print("fail")

enter marks:95
grade A

In [5]:
#5. check whether a year is a leap year
year= int(input("enter year:"))
if(year%400==0)or(year%4==0 and year%100!=0):
  print("leap year")
else:
  print("not a leap year")

enter year:2016
leap year

In [7]:
#write a python program to increament the given date
# Input date
day = int(input("Enter day: "))
month = int(input("Enter month: "))
year = int(input("Enter year: "))

# Check leap year
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    leap = True
else:
    leap = False

# Increment date
if month == 2:
    if (leap and day == 29) or (not leap and day == 28):
        day = 1
        month = 3
    else:
        day += 1

elif month in [1, 3, 5, 7, 8, 10]:
    if day == 31:
        day = 1
        month += 1
    else:
        day += 1

elif month in [4, 6, 9, 11]:
    if day == 30:
        day = 1
        month += 1
    else:
        day += 1

elif month == 12:
    if day == 31:
        day = 1
        month = 1
        year += 1
    else:
        day += 1

# Output
print("Next date is:", day, "/", month, "/", year)

Enter day: 3
Enter month: 5
Enter year: 2026
Next date is: 4 / 5 / 2026

In [8]:
#write a python program to find vowels or consonants
ch=input("enter a character:")
if ch in'aeiouAEIOU':
   print("vowel")
else:
   print("consonant")

enter a character:E
vowel

In [ ]:
'''Problem statement:
write a python program to calculate the gross salary of an employee
if basic 10000:HRA <=20%,DA=80%
if basic 20000:HRA <=25%,da=90%
Otherwise:HRA

In [25]:
basic = float(input("enter basic salary: "))

if basic <= 10000:
  hra = basic * 0.20
  da = basic * 0.80

elif basic <= 20000:
    hra = basic * 0.25
    da = basic * 0.90

else:
      hra = basic * 0.30
      da = basic * 0.95

gross_salary= basic + hra + da

print("HRA:",hra)
print("DA:",da)
print("gross salary:",gross_salary)

enter basic salary: 20000
HRA: 5000.0
DA: 18000.0
gross salary: 43000.0

In [ ]:
''' Write a python program to calculate income tax based on annual income:
up to 2,50,000:NO tax
2,50,001-5,00,000:5%
5,00,001-10,00,000:30%
income=float(input("enter annual income:"))

In [28]:
income= float (input("enter annual income:"))
if income<=250000:
  tax=0

elif income<=500000:
  tax=(income-250000)*0.05

elif income<=1000000:
  tax=(250000*0.05)+(income-500000)*0.20

else:
    tax=(250000*0.50)+(500000*0.20)+(income-1000000)*0.30

print("Income Tax =", tax)

enter annual income:700000
Income Tax = 52500.0

In [31]:
mm=int(input("enter month:"))
yy=int(input("enter year:"))

if mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12:
  max1 = 31

elif mm==4 or mm==6 or mm==9 or mm==11:
  max1=30

elif mm ==2:
  if(yy%4==0 and yy %100!=0)or (yy%400==0):
    max1=29
  else:
      max1=28


else:
  print("date is valid.")
  max1=None

if mm<1 or mm>12:
  print("date is invalid.")
else:
  dd=int (input("enter day:"))
  if dd<1 or dd>max1:
    print("date is invalid.")
  else:
    print("date in valid.")

enter month:04
enter year:2007
enter day:3
date in valid.

In [32]:
print("Incremented Date if it is valid")

date = input("Enter the date in format (dd/mm/yyyy): ")
dd, mm, yy = map(int, date.split("/"))

# Find maximum days in the month
if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:
    max1 = 31

elif mm == 4 or mm == 6 or mm == 9 or mm == 11:
    max1 = 30

elif mm == 2:
    if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
        max1 = 29
    else:
        max1 = 28

else:
    print("Date is invalid")
    exit()

# Validate date
if mm < 1 or mm > 12:
    print("Date is invalid")

elif dd < 1 or dd > max1:
    print("Date is invalid")

# Increment date
elif dd == max1 and mm != 12:
    dd = 1
    mm = mm + 1
    print("The incremented date is:", dd, mm, yy)

elif dd == 31 and mm == 12:
    dd = 1
    mm = 1
    yy = yy + 1
    print("The incremented date is:", dd, mm, yy)

else:
    dd = dd + 1
    print("The incremented date is:", dd, mm, yy)

Incremented Date if it is valid
Enter the date in format (dd/mm/yyyy): 24/10/2006
The incremented date is: 25 10 2006